#login, #loggedin {
  display: none;
}
.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 500px;
}
#login {
	width: 50%;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  text-align: center;
}
form {
	color: white;
	> fieldset {
		> legend {
			color: white;
		}
	}
}
#busqueda-artistas {
	display: none;
	h1 {
		font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
	}
}
#obtain-new-token {
	visibility: hidden;
}
ul#tracksUl {
	padding-left: 10px;
}
#modalTrack {
	.modal-content {
		background-color: #191414;
		color: white;
		h4.modal-title {
			font-weight: 600;
			text-transform: uppercase;
		}
	}
}