node_modules/
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
app/public/stylesheets/.sass-cache/
app/public/stylesheets/bootstrap/_*
app/public/stylesheets/font-awesome/_*
app/public/stylesheets/_*